singularity {
    enabled = true
    autoMounts = true
    cacheDir = '<SINGULARITY_CACHE_DIR>'
    runOptions = '--containall --no-home'
}

workDir = '/fh/scratch/delete30/gilbert_p/nextflow/cache/'
process.executor = 'slurm'
process.queue = 'campus-new'

process {
    withName: python_routine {
        container = '/fh/scratch/delete90/gilbert_p/singularity/tcrdist3_v022.sif'
        cpus = 1
        maxRetries = 3
        errorStrategy = 'finish'
        memory = 1.GB
    }
}

