profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/fh/scratch/delete30/lastname_f/nextflow/cache/'
            runOptions = '--containall --no-home'
        }

        workDir = '/fh/scratch/delete30/gilbert_p/nextflow/work/'
        process.executor = 'slurm'
        process.queue = 'campus-new'

        process {
            withName: python_routine {
                cpus = 1
                maxRetries = 3
                errorStrategy = 'finish'
                memory = 1.GB
            }
        }
    }

    cloud {
        process.executor = 'awsbatch'
        docker.enabled = true
    }

}





