profiles {
    standard {
        process.executor = 'local'
    }
    
    cluster {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/fh/scratch/delete30/lastname_f/nextflow/cache/'
            runOptions = '--containall --no-home'
        }

        workDir = '/fh/scratch/delete30/gilbert_p/nextflow/work/'
        process.executor = 'slurm'
        process.queue = 'campus-new'

        process {
            withName: python_routine {
                cpus = 1
                maxRetries = 3
                errorStrategy = 'finish'
                memory = 1.GB
            }
        }
    }

    cloud {
        // Run the analysis on the specified queue in AWS Batch
        process.executor = 'awsbatch'
        process.queue = 'spot-test'
        docker.enabled = true
        // // Run in the correct AWS region
        // // Mount the host folder /docker_scratch to /tmp within the running job
        // // Use /tmp for scratch space to provide a larger working directory
        // // Replace with the Job Role ARN for your account
        aws {
            region = 'us-west-2'
            batch {
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                jobRole = 'arn:aws:iam::IAM:role/ROLE'
                volumes = ['/docker_scratch:/tmp:rw']
            }
        }
    
        tower {
            accessToken = 'TOWERTOKEN'
            enabled = true
        }
        
    }
}
